*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color: #802406;
}
body{
	background-color: #802406;
	color: white;
}
.glyphicon{
	font-size: 30px;
	color:#802406; 
}

.center{
	width: 90%;
	background-color: #7D9A8E;

}
.container
{
	background-color: #7D9A8E;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #802406;
}
.navbar-brand{
font-size: 30px;	
}